/* -----------------------------------PAGE REGISTER------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}





/* Styles pour le conteneur d'inscription */
.registration-container {
    width: 70%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 5rem;
}

/* Styles pour le titre */
.registration-container h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #004d35;
}

/* Styles pour le formulaire */
.registration-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

/* Styles pour les groupes de formulaires */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-group label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #004d35;
}

/* Styles pour les champs de saisie */
.form-group input {
    width: 100%;
    padding: 1rem;
    border: 2px solid #66c29a;
    border-radius: 5px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    transition: border 0.3s ease;
}

.form-group input:focus {
    border-color: #004d35;
    outline: none;
}

/* Styles pour le bouton de soumission */
.btn-submit {
    width: 100%;
    padding: 1rem;
    background-color: #004d35;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background-color: #66c29a;
}